{% load widget_tweaks %}

<!--CAUSE-->
<div class="card">
  <h5 class="card-header">Cause</h5>
  <div class="card-body">
    {% for field in causeform %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
      <div class="col-sm-8">
        {% if causeform.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
        {% else %}

        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}

        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted float-right">
          {{ field.help_text }}
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br>


<!--EFFECT-->
<div class="card">
  <h5 class="card-header">Effect</h5>
  <div class="card-body">
    {% for field in effectform %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
      <div class="col-sm-8">
        {% if effectform.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
        {% else %}

        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}

        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted float-right">
          {{ field.help_text }}
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<br>

<!-- EVIDENCE -->
<div class="card">
  <h5 class="card-header">Evidence</h5>
  <div class="card-body">
    {% for field in evidenceform %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
      <div class="col-sm-8">
        {% if evidenceform.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
        {% else %}

        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}

        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted float-right">
          {{ field.help_text }}
        </small>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>