body {
  padding: 0;
  margin: 0;
  background: #FFFFFE;
}

/*--- navigation bar ---*/

.navbar {
  background:#3aafa9;
}

.nav-link,
.navbar-brand {
    color: #1B1F19;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover, .navbar-brand:hover {
  color: #D5ECE1;
}

.navbar-collapse {
  justify-content: flex-end;
}

/*--- header paragraphs ---*/
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #2B6D59;
}
.description p {
  color: #17252a;
  font-size: 1.3rem;
  line-height: 1.5;
}

/*--- footer ---*/

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
}

/*--- media queries ---*/
@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}

	.description h1 {
		font-size: 2em;
	}

	.description p {
		font-size: 1.2rem;
	}

	.features {
		margin: 0;
	}

}

/* dropdown */
.btn-drop{
    background-color: #3aafa9;
    color: #def2f1;
}
.dropdown-item {
    color: #3aafa9;
}

/* breadcrumb */
.breadcrumb, #currentArea{
    background-color: #def2f1;
    color: #3aafa9;
}

.breadcrumb a{
    color: #1B1F19;
}

/* input group */
.input-group-text{
    background-color: #3aafa9;
    color: #def2f1;
}


/* button */
.btn-success{
    background-color: #3aafa9;
    border-color: #3aafa9;
}

.btn-primary{
    background-color: #2A4494!important;
    border-color: #2A4494!important;
}

.btn-primary:hover{
    background-color: #465A94!important;
    border-color: #465A94!important;
}

.btn-success:hover{
    background-color: #2B6D59;
}

.btn-outline-primary{
    background-color: #3aafa9;
}

.btn-outline-secondary{
    border-color: #E84855;
}

.btn-outline-secondary:hover{
    background-color: #E84855;
}

/* table */
.tlight{
    background-color: #9DCDC0!important;
    color: #1B1F19;
}

/* card */
.card-header{
    background-color: #9DCDC0 ;
}

/* trash */
.fa{
    color: #3aafa9;
    margin-left: 20px;
}

.del{
    margin-left: 20px;
}
