{% extends 'swetheory/base.html' %}

{% block title %}
  {{ current_area.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">{{ current_area.name }}</li>
{% endblock %}

{% block content %}
      {% for cnstr in all_construct %}
            {% if cnstr.area.name == current_area.name %}
            {{ cnstr.name }}<br>
            {% endif %}
      {% endfor %}

{% endblock %}

{% load static %}
