{% extends 'swetheory/base.html' %}


{% block title %}
{{ current_area.name }} - {{ block.super }}
{% endblock %}


{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">{{ current_area.name }}</li>
{% endblock %}


{% block content %}
<p>Look for propositions by choosing either a cause contruct, an effect construct, or a proposition.</p>

<form method="post" id="search-form">

    {% csrf_token %}
    {% include 'swetheory/includes/searchform.html' %}


    <button type="submit" value="Post" class="btn btn-success float-right">Search</button>
</form>
<br>
<div id="search_result">

</div>
<br>
<a href="{% url 'new_theory' current_area.name %}" class="btn btn-primary float-right">New Theory</a>
{% endblock %}


{% block javascript %}
{% endblock %}