{% extends 'swetheory/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
<body>
<div class="description">
    <h1>Uncovering theories in Software Engineering</h1>
    <p>This page will help you find all software engineering theories!</p>
    <p>Choose an area of interest to explore:</p>

    <div class="container">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Domain of interest
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for area in areas %}
                <a class="dropdown-item" href="{% url 'area_of_interest' area.name %}">{{area.name}}</a>
                {% endfor %}
            </div>
        </div>

    </div>

</div>



</body>
{% endblock %}


