{% extends 'swetheory/base.html' %}
{% load widget_tweaks %}


{% block title %}
Register a new theory
{% endblock %}

{% block content %}
<ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'area_of_interest' current_area.name %}">{{ current_area.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'new_theory' current_area.name %}">New theory</a></li>
    <li class="breadcrumb-item active">Add value</li>
</ol>


<form method="post" >
    {% csrf_token %}
    <div class="card">
        <h5 class="card-header">Value</h5>
        <div class="card-body">
            {% for field in form %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                <div class="col-sm-8">
                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}

                    {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field class="form-control" %}

                    {% endif %}

                    {% if field.help_text %}
                    <small class="form-text text-muted float-right">
                        {{ field.help_text }}
                    </small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>


    <p>
        <a class="btn btn-outline-secondary float-left" href="../">Cancel</a>
        <button type="submit" class="btn btn-success float-right">Save</button>
    </p>
</form>
<br>


{% endblock %}
{% load static %}s

{% block javascript %}
{% endblock %}
